<div fxLayoutAlign="center center">
  <mat-form-field>
    <input matInput  type="text" (keyup)="doFilter($event.target.value)">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element?.date|date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element?.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef mat-sort-header>calories</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element?.calories|number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="duration" >
    <mat-header-cell *matHeaderCellDef mat-sort-header>duration</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element?.duration|number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>state</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element?.state}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row ;columns:displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="100"
              [pageSize]="1"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>