<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (submit)="StartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">time to start a workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center"><mat-form-field>
        <mat-select ngModel name="exercise" required>
          <mat-option *ngFor="let exersice of this?.exersices" value="{{exersice.id}}">
            {{exersice.name}}
          </mat-option>
        </mat-select>
      </mat-form-field></mat-card-content>
      <mat-card-actions fxLayoutAlign="center"><button type="submit"[disabled]="f.invalid" mat-button>start training</button></mat-card-actions>
    </mat-card>
  </form>

</section>