<section fxLayoutAlign="center center" fxLayout="column ">
  <mat-progress-spinner mode="determinate" class="progress" [value]="progressed"></mat-progress-spinner>
  <h1>
    keep going man
  </h1>
  <p>it is {{progressed}}% that you covered</p>
  <button mat-button (click)="OnStop()">stop</button>
</section>