<mat-list>
  <a mat-list-item (click)="closeSidenav()" routerLink="/signup"><mat-icon>face</mat-icon><span class="nav-caption">Signin</span>  </a>                                        
  <a mat-list-item (click)="closeSidenav()" routerLink="/login"><mat-icon>input</mat-icon><span class="nav-caption">login</span></a>                                        
  <a mat-list-item (click)="closeSidenav()" routerLink="/training"><mat-icon>fitness_center</mat-icon><span class="nav-caption">training</span></a>                                        
  <mat-list-item>
      <button mat-icon-button (click)="closeSidenav()">
          <mat-icon>eject</mat-icon>
          <span class="nav-caption">logout</span>
      </button>
  </mat-list-item>
</mat-list>