<mat-toolbar color="primary" >
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="ToggleSidenav()" >
              <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>Logo</div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs> 
      <ul fxLayout fxLayoutGap='10px' class="navigation-items">
        <li *ngIf="!isAuth">
            <a routerLink="/signup">Signup</a>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="/login">Login</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="/training">Training</a>
          </li>
          <li *ngIf="isAuth">
            <a  (click)="onLogout()" style="cursor:pointer">Logout</a>
          </li>
      </ul>
  </div>
</mat-toolbar>  