a:hover,
a:active{
    color: lightgray
}

.navigation-items{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-caption{
    padding-left: 6px;
    /* display: inline-block; */
}
a{
    text-decoration: none;
    color: white
}
mat-toolbar{
    width: 100%
}