/* #container{
    display: flex;
    border: 1px solid black;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column
} */

/* .child{
    width: 200px;
    height: 200px;
    flex: 1
} */
/* #child1{
    background-color: red;
    flex: 2 
} */
/* #child2{
    background-color: green;
} */
/* #child3{
    background-color: blue;
    
} */
