<section>
  <form fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout="column" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field  >
      <input 
        type="email" 
        matInput 
        placeholder="enter your email" 
        ngModel 
        name="email" 
        email 
        required
        #emailInput = "ngModel"
        >
        <mat-error *ngIf="emailInput.hasError('required')">field must not be empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field
      hintLabel="should be at least 6 characters" 
    >
      <input 
        type="password" 
        matInput
        placeholder="enter your password" 
        ngModel 
        name="password" 
        required 
        #pwField = "ngModel"
        minlength="6">
    </mat-form-field>
    <mat-hint align="end">{{pwField.value?.length}}/6</mat-hint>
    <dp-date-picker 
      dir="rtl"
      name="birthdate"
      ngModel
      required
      mode="day"
      placeholder="تاریخ"
      theme="dp-material">
    </dp-date-picker>
    <mat-checkbox ngModel required name="agreed" color="primary" >agreed to license and terms</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" >submit</button>
  </form>
</section>

<!-- <section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section> -->