mat-sidenav-container,mat-sidenav,mat-sidenav-content{
    height: 100%;
}

mat-sidenav{
    width: 250px
}

a{
    text-decoration: none;
    color: white
}

a:hover,
a:active{
    color: lightgray
}

.navigation-items{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-caption{
    padding-left: 6px;
    /* display: inline-block; */
}
app-header{
    width: 100%
}