<mat-sidenav-container>
    <mat-sidenav #sideNav role="navigation">
        <app-side-nav-list (SidenavClosed)="sideNav.close()"></app-side-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (SidenavToggler)="sideNav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>        
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>