<div class="welcome" fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Activity</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda saepe odit sint, adipisci perferendis perspiciatis. Voluptate quos modi fuga debitis, provident, animi dolorum minus quidem officia excepturi vel blanditiis quam!</p>
  </section>
  <section>
    <h1>Community</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem sapiente ipsa quibusdam culpa perspiciatis, vel praesentium consequatur cum facere adipisci repudiandae ducimus quod hic excepturi aliquam odio? Ab, ut velit.</p>
  </section>
  <section>
    <h1>Challenges</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, beatae! Deleniti, veritatis porro neque maiores ipsum suscipit error aliquam, obcaecati praesentium rerum fugit, accusantium debitis necessitatibus beatae officia officiis eius.</p>
  </section>

</div>