<agm-map [latitude]="lat" [longitude]="lng">
  <agm-circle 
    [latitude]="lat"
    [longitude]="lng"
    [radius]="5000"
    [circleDraggable]="true"
    [editable]="true"
    
    (radiusChange)="RadiusChange($event)"
    (centerChange)="CenterChange($event)"
  ></agm-circle>
</agm-map>
<button (click)="Increase()">Increase</button>
<button (click)="Decrease()">Decrease</button>