<mat-tab-group *ngIf="!ongoingTraining">
  <mat-tab label="New Exercise">
    <app-new-training (startTraining)="NewTraining()"></app-new-training>
  </mat-tab>
  <mat-tab label="past exercises">
    <app-past-training></app-past-training>
  </mat-tab>
</mat-tab-group>


<app-current-training *ngIf="ongoingTraining"></app-current-training>